---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroSection from "../sections/HeroSection.astro"
import AboutSection from "../sections/AboutSection.astro"
import ProjectSection from "../sections/ProjectSection.astro"
import ContactSection from "../sections/ContactSection.astro"
---

<BaseLayout title="Glen Jolley | Software Developer">

<! -- Hero -->
<section id="hero" class="min-h-screen flex flex-col items-center justify-center relative text-center">
	<HeroSection />
</section>

<! -- About Section -->
<section id="about" class="py-16">
	<AboutSection />
</section>

<!-- Projects Section -->
<section id="projects" class="py-16 max-w-5xl mx-auto px-4">
	<ProjectSection />
</section>

<!-- Contact Section -->
<section id="contact" class="py-16 text-center">
	<ContactSection />
</section>

</BaseLayout>