---
const { title, description, image, link } = Astro.props;
---

<div class="project-card">
  <div class="p-6 flex flex-col h-full">
    <h3 class="card-title">{title}</h3>
    <p class="card-description">{description}</p>
    <a href={link} class="card-link">
      View Project <i class="bi bi-arrow-right"></i>
    </a>
  </div>
</div>