<!-- Hero Section -->
<h1>Hi, I’m <span id="name" class="text-horizon-400 transition-all duration-300">Glen</span>.<span class="cursor-effect">|</span></h1>
<p>
I'm a .NET software developer from the UK, with experience in ASP.NET MVC, Blazor, APIs, SQL Server and more.
</p>

<!-- Down arrow -->
<a href="#about" class="absolute bottom-6 animate-bounce text-horizon-500 hover:text-horizon-200 transition">
<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
</svg>
</a>